// .Navbar {
//     padding: 10px;
// }
.navList {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navlink {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.tweetLink {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 89px;
    padding-right: 89px;
    background: #1D9BF0;
    border-radius: 27.5px;
    color: white;
}
.navImg {
    margin-right: 15px;
}

.link {
    &__homeActive {
        color: red;
    }
    &__exploreActive {
        color:seagreen;
    }
    &__notifyActive {
        color:darkblue;
    }
    &__messageActive {
        color:chartreuse;
    }
    &__bookmarkActive {
        color: deeppink;
    }
    &__listActive {
        color:brown;
    }
    &__profileActive {
        color: blueviolet;
    }
    &__moreActive {
        color: cornflowerblue;
    }
}